<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div ng-include="'views/templates/user-thumb-template.html'"></div>
      <br>
      <div class="card">
        <div class="card-body">
          <b>About</b>
          <p>
            Twitter <a ng-href="https://twitter.com/{{user.twitter}}" target="_blank">{{user.twitter}}</a>
          </p>
          <p>
            Github <a ng-href="https://github.com/{{user.github}}" target="_blank">{{user.github}}</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{post.subtitle}}</h6>
          <img ng-src="{{post.img}}" class="img-fluid" />
          <p class="card-text">{{post.content}}</p>

          <div ng-include="'http://localhost:8080/ipfs/QmUv3dQuNREHnEFYs7JkqyxZjYfEXd4t9jej5jY2dPVaqU'"></div>

          <div class="pull-right">
            <i title="Server" class="fa fa-heart ct_red300 fa-1x"></i> 37
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
