<div class="card">
  <div class="o_card-body">
    <a ng-href="#!/user/{{post.user.id}}">
      <div class="pull-right text-secondary">
        <span class="row">
          <div class="text-right">
            {{post.date | date: "MMM d, y"}}
          </div>
          </span>
        <span class="row">
          <div class="text-right">
            {{post.date | date: "HH:mm"}}h
          </div>
        </span>
      </div>
      <div class="row">
        <div style="display:block;margin-left:10px;margin-right:10px;">
          <img class="o_userImgCircular" ng-src="img/z.png" />
        </div>
        <div style="display:block; font-size:90%;">
          <b>{{post.user.name}} {{post.user.lastname}}</b>
          <div class="mb-2 text-muted">@{{post.user.username}}</div>
        </div>
      </div>
    </a>
  </div>
  <a ng-href="#!/post/{{post.id}}" class="o_card-body">
  <img ng-show="post.thumbimg" ng-src="http://localhost:8080/ipfs/{{post.thumbimg}}" class="img-fluid" />
  <br><br>
    <h5 class="card-title">{{post.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{post.summary}}</h6>
    <div class="pull-right">
      <i title="Server" class="fa fa-heart ct_red300 fa-1x"></i> 37
    </div>
  </a>
</div>
