.o_nav {
  background: #ffffff !important;
  color: #000000 !important;
  /*border-bottom: 2px solid #4DD0E1!important;*/
}

body {
  background: #f5f8fa;
}
a, a:hover {
  text-decoration: none;
  color: #000000;
}
.o_userProfileBackground {
  min-height: 30% !important;
  width: 100%;
  height: 150px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/background01.png');
  text-align: center;
  /*color: white;*/
  /* Create the parallax scrolling effect */
  /*background-attachment: fixed;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.o_userImgCircular {
  width: 60px;
  background: #ffffff;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

.o_profilePageImage {
  border: 4px #ffffff solid;
  margin-top: -100px;
  margin-left: 25%;
  width: 50%;
  width: 50%;
}
