<div class="container">
  <div class="row">
      <div class="col-sm-4">
          <div ng-repeat="user in users" ng-if="$index % 3 == 0">
              <a ng-href="#!/user/{{user.id}}">
                  <div ng-include="'views/templates/user-thumb-template.html'"></div>
              </a>
              <br>
          </div>
      </div>
      <div class="col-sm-4">
          <div ng-repeat="user in users" ng-if="$index % 3 == 1">
              <a ng-href="#!/user/{{user.id}}">
                  <div ng-include="'views/templates/user-thumb-template.html'"></div>
              </a>
              <br>
          </div>
      </div>
      <div class="col-sm-4">
          <div ng-repeat="user in users" ng-if="$index % 3 == 2">
              <a ng-href="#!/user/{{user.id}}">
                  <div ng-include="'views/templates/user-thumb-template.html'"></div>
              </a>
              <br>
          </div>
      </div>
  </div>
</div>
