<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div ng-include="'views/templates/user-thumb-template.html'"></div>
      </div>
      <br>
      <div class="card">
        <div class="card-body">
          <b>About</b>
          <p>
            Twitter <a ng-href="https://twitter.com/{{user.twitter}}" target="_blank">{{user.twitter}}</a>
          </p>
          <p>
            Github <a ng-href="https://github.com/{{user.github}}" target="_blank">{{user.github}}</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-10">
          <div class="form-group">
            <input ng-model="post.title" type="text" class="form-control" placeholder="Title of the article..." style="font-weight:bold;">
          </div>
        </div>
        <div class="col-sm-2">
          <div ng-click="publicate()" class="btn btn-raised btn-block c_o_blue300 pull-right">Publicate</div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <input ng-model="post.summary" type="text" class="form-control" placeholder="Summary of the article...">
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="editable" style="min-height: 500px; padding: 10px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
