<div class="container">
  <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
              Signup
          </h4>


          <input ng-model="user.email" type="email" class="form-control" placeholder="Email">
          <br>
          <input ng-model="user.password" type="password" class="form-control" placeholder="Password">
          <br>
          <div class="row">
            <div class="col-sm-12">
              <div style="display:inline-block;">
                @
              </div>
              <div style="display:inline-block;">
                <input ng-model="user.username" class="form-control" placeholder="Username">
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-6">
              <input ng-model="user.name" class="form-control" placeholder="Name">
            </div>
            <div class="col-sm-6">
              <input ng-model="user.lastname" class="form-control" placeholder="Last Name">
            </div>
          </div>
          <br>
          <textarea ng-model="user.description" class="form-control" rows="3" placeholder="Description"></textarea>
          <br>
          <div class="row">
            <div class="col-sm-6">
              <a href="#!/login" class="btn btn-raised btn-block c_o_blue300">Cancel</a>
            </div>
            <div class="col-sm-6">
              <div ng-click="signup()" class="btn btn-raised btn-block c_o_green300 pull-right">Signup</div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-sm-3">

    </div>
  </div>
</div>
