<div class="container">
  <div class="row">
      <div class="col-sm-4">
          <div ng-repeat="post in posts" ng-if="$index % 3 == 0">
              <a ng-href="#!/post/{{post.id}}">
                  <div ng-include="'views/templates/post-thumb-template.html'"></div>
              </a>
              <br>
          </div>
      </div>
      <div class="col-sm-4">
          <div ng-repeat="post in posts" ng-if="$index % 3 == 1">
              <a ng-href="#!/post/{{post.id}}">
                  <div ng-include="'views/templates/post-thumb-template.html'"></div>
              </a>
              <br>
          </div>
      </div>
      <div class="col-sm-4">
          <div ng-repeat="post in posts" ng-if="$index % 3 == 2">
              <a ng-href="#!/post/{{post.id}}">
                  <div ng-include="'views/templates/post-thumb-template.html'"></div>
              </a>
              <br>
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <a ng-href="#!/user">
          <img class="card-img-top" ng-src="http://localhost:8080/ipfs/QmUE6hhNsyUA5emj2dviVDNYK7mSbPeZmRKeCYthmtemeA" alt="Card image cap">
        </a>
        <div class="card-body">
          <h5 class="card-title">Post1</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
