<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <a ng-href="#!/user">
          <img class="card-img-top" ng-src="http://localhost:8080/ipfs/QmUE6hhNsyUA5emj2dviVDNYK7mSbPeZmRKeCYthmtemeA" alt="Card image cap">
        </a>
        <div class="card-body">
          <h5 class="card-title">Post1</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
