<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div ng-include="'views/templates/user-thumb-template.html'"></div>
      <br>
      <div class="card">
        <div class="card-body">
          <b>About</b>
          <p>
            Twitter <a ng-href="https://twitter.com/{{user.twitter}}" target="_blank">{{user.twitter}}</a>
          </p>
          <p>
            Github <a ng-href="https://github.com/{{user.github}}" target="_blank">{{user.github}}</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">

      <div ng-repeat="post in user.posts | orderBy: '-date'">
        <div ng-include="'views/templates/post-thumb-template.html'"></div>
        <br>
      </div>
      <div ng-show="!user.posts" class="card">
        <div class="card-body">
          <h5>No articles yet</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <b>Discover</b>
          <p>
            bla bla bla bla bla
          </p>
          <p>
            bla bla bla bla bla
          </p>
        </div>
      </div>
      <br>
      <div class="">
        <h5>Featured posts</h5>
        <!--<div ng-repeat="post in featured_posts">
            <div ng-include="'views/templates/post-thumb-template.html'"></div>
            <br>
        </div>-->
      </div>
    </div>
  </div>
</div>
</div>
